<div class="top-section">
    <app-top-widget></app-top-widget>
</div>
<div class="middle-section">
    <div class="widget left">
        <app-traffic-by-day></app-traffic-by-day>
    </div>
    <div class="widget right">
        <app-taxi-revenu-by-day></app-taxi-revenu-by-day>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-traffic-taxi-vs-bus></app-traffic-taxi-vs-bus>
    </div>
    <div class="widget right">
        <app-services-by-day></app-services-by-day>
    </div>
</div>